{
  "extends": ["google", "prettier"],
  "plugins": ["no-only-tests", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "new-cap": "off",
    "require-jsdoc": 0,
    "no-only-tests/no-only-tests": "error",
    "prettier/prettier": ["error", { "semi": false }]
  }
}
