node_modules/

artifacts/
build/
cache/
export/
export.json

external/npm

typechain/

yarn-error.log

.vscode/

.hardhat/*
!.hardhat/networks_TEMPLATE.ts

# OpenZeppelin
.openzeppelin/unknown-*.json
!.openzeppelin/unknown-11155111.json

# Generated operator setup artifacts
operator-*-keystore/
spv-maintainer-keystore/
.env.new-operator
.env.operator-*
.env.operators-*
.env
